@model LoginModel

@{
	Layout = "_LayoutDeslogado";
	ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" id="MensagemErro" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
		@TempData["MensagemErro"]
	</div>
}

<!-- Logo -->
<div class="app-brand justify-content-center">
	<img class="logo-login" src="../assets/img/logo-login.png">
</div>
<!-- /Logo -->
<form id="formAuthentication" class="mb-3" asp-controller="Login" asp-action="Entrar" method="post">
	<input type="hidden" name="tipoLogin" value="usuario">
	<div class="mb-3 margin-altura-input">
		<label for="login" class="form-label">Login</label>
		<input type="text"
			   asp-for="Login"
			   class="form-control"
			   id="login"
			   name="login"
			   placeholder="Digite o seu login"
			   autofocus />
		@Html.ValidationMessageFor(x => x.Login)
	</div>
	<div class="mb-3 form-password-toggle">
		<div class="d-flex justify-content-between">
			<label class="form-label" for="password">Senha</label>
		</div>
		<div class="input-group input-group-merge">
			<input type="password"
				   asp-for="Senha"
				   id="senha"
				   class="form-control"
				   name="senha"
				   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
				   aria-describedby="password" />
			<span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
		</div>
		@Html.ValidationMessageFor(x => x.Senha)
	</div>
	<div class="mb-3">
		<div class="row">
			<div class="col-sm">
				<button class="btn btn-primary btn-block d-grid w-40 entrar-login" type="submit">Entrar</button>
			</div>
		</div>
	</div>
</form>

@if (TempData["AlertaTitulo"] != null)
{
	<div class="alert alert-@TempData["AlertaCor"]" id="alert-@TempData["AlertaCor"]" role="alert" style="">
		<span id="alert-@TempData["AlertaCor"]-titulo">@TempData["AlertaTitulo"]</span>
		<br>
		<span id="alert-@TempData["AlertaCor"]-conteudo">
			@TempData["AlertaDescricao"]
		</span>
	</div>
}