@model List<DocumentacaoModel>;

@{
	ViewData["Title"] = "Lista de Documentações";
	Layout = "_LayoutAdministrador";

	var cont = 0;
	foreach (DocumentacaoModel documentacao in Model)
	{
		cont = cont + 1;
		var id = documentacao.Id;
	}
}

<!-- Striped Rows -->
<div class="container">
	@if (TempData["MensagemSucesso"] != null)
	{
		<div class="alert alert-success" role="alert">
			@TempData["MensagemSucesso"]
		</div>
	}

	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@TempData["MensagemErro"]
		</div>
	}

	<div class="card">
		<div class="row">
			<div class="col-sm">
				<h5 class="card-header">Lista de Documentações</h5>
			</div>
			@if (cont == 0)
			{
				<div class="col-sm text-end" style="margin-top: 2%; margin-right: 3%;">
					<a class="btn btn-sm btn-primary" role='button' asp-controller="Documentacao" asp-action="Criar">Adicionar</a>
				</div>
			}
			</div>
			<div class="table-responsive text-nowrap">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Títulos e Links</th>
							<th scope="col"><center>Última Atualização</center></th>
							<th scope="col"><center>Ações</center></th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
							@if (Model != null && Model.Any())
							{
								foreach (DocumentacaoModel documentacao in Model)
								{

								<tr>
									<td>
										<ul>
										@{
											var variavel = documentacao.TituloLink;
											string[] A = variavel.Split(new char[] { '&' }, StringSplitOptions.RemoveEmptyEntries);
											var quantidade = A.Length;
											for (int i = 0; i < quantidade; i++)
											{
												string[] B = A[i].Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
												<li><a href="https://@B[1]" target="_blank">@B[0]</a></li>
											}
											}
										</ul>
									</td>
									<td>
										<center>
												@if (documentacao.DataAtualizacao == null)
												{
													@documentacao.DataCriacao
												}
												else
												{
													@documentacao.DataAtualizacao
												}
										</center>
									</td>
									<td>
										<center>
											<a role="button"
								   asp-route-id="@documentacao.Id"
								   asp-controller="Documentacao"
								   asp-action="Editar"
								   data-bs-toggle="tooltip"
								   data-bs-offset="0,4"
								   data-bs-placement="top"
								   data-bs-html="true"
								   title="Editar">
												<i class='bx bx-edit' style="margin-top: -2%;"></i>
											</a>
											<a role="button"
								   asp-route-id="@documentacao.Id"
								   asp-controller="Documentacao"
								   asp-action="ApagarConfirmacao"
								   data-bs-toggle="tooltip"
								   data-bs-offset="0,4"
								   data-bs-placement="top"
								   data-bs-html="true"
								   title="Excluir">
												<i class='bx bx-trash' style="margin-top: -2%;"></i>
											</a>
										</center>
									</td>
								</tr>
								}
							}

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--/ Striped Rows -->