@using static service_desk.Models.ChamadosUsuarioModel;
@model List<Informacoes>;

@{
	ViewData["Title"] = "Página Inicial";
	Layout = "_Layout";
}

<div class="layout-page">
	<div class="container-xxl container-p-y">

		<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
			<div class="row">
				<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)" style="margin-left: 1.5%;">
					<i class="bx bx-menu bx-sm"></i>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-7">
				<h6 style="color: #3A3A3A; font-weight: bold;">
					@if (DateTime.Now.Hour < 12)
					{
						<span>Bom dia!</span>
					}
					else if (DateTime.Now.Hour < 17)
					{
						<span>Boa tarde!</span>
					}
					else
					{
						<span>Boa noite!</span>
					}
				</h6>
			</div>
			<div class="col text-end">
				<p style="color: #AFAFAF; font-size: 12px; ">50% dos chamados resolvidos</p>
			</div>
			<div class="col col-lg-2">
				<div class="demo-vertical-spacing" style="margin-top:-7%;">
					<div class="progress" style="height: 8px;">
						<div class="progress-bar"
							 role="progressbar"
							 style="width: 50%"
							 aria-valuenow="50"
							 aria-valuemin="0"
							 aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Alertas de sucesso ou erro-->
		@if (TempData["MensagemSucesso"] != null)
		{
			<div class="alert alert-success" role="alert">
				@TempData["MensagemSucesso"]
			</div>
		}

		@if (TempData["MensagemErro"] != null)
		{
			<div class="alert alert-danger" role="alert">
				@TempData["MensagemErro"]
			</div>
		}

		@if (TempData["teste"] != null)
		{
			<div class="alert alert-danger" role="alert">
				@TempData["teste"]
			</div>
		}
	</div>

	<!-- Content wrapper -->
	<div class="content-wrapper" style="margin-top:-4%;">
		<!-- Content -->

		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="row">
				<!-- Card 01 -->
				<div class="col-lg-6 mb-4 order-0">
					<div class="card" style="background-image:url('../assets/img/card01-fundo.svg'); background-repeat: no-repeat;  background-size: cover; background-color: #1B5F9D;">
						<div class="d-flex align-items-center row">
							<div class="col-sm-6">
								<div class="card-body" style="color:white; margin-top:-5%;;">
									<span style="font-size: 90px; font-weight: bold; margin-left:5%;">@TempData["quantChamados"]</span><br>
									<div style="margin-top:-10%;">
										<span style="font-size: 20px; margin-left:5%;">Chamados Abertos</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6 text-center text-sm-left">
								<div class="card-body pb-0 ">
									<img src="../assets/img/card01.svg"
										 alt="View Badge User"
										 style="margin-left:-15%;" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Card 02 -->
				<div class="col-lg-6 mb-4 order-0">
					<div class="card" style="background-image:url('../assets/img/card02-fundo.svg'); background-repeat: no-repeat;  background-size: cover; background-color: #0077B2;">
						<div class="d-flex align-items-center row">
							<div class="col-sm-8">
								<div class="card-body" style="color:white; margin-top:-5%;;">
									<span style="font-size: 90px; font-weight: bold; margin-left:5%;">@TempData["quantChamadosSolucionados"]</span><br>
									<div style="margin-top:-6%;">
										<span style="font-size: 20px; margin-left:5%;">Chamados Solucionados</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4 text-center text-sm-left">
								<div class="card-body pb-0 ">
									<img src="../assets/img/card02.svg"
										 alt="View Badge User"
										 style="margin-left:-35%; margin-top:8%;" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 mb-4 order-0">
					<div class="card">
						<div class="row">
							<div class="col-sm">
								<h5 class="card-header">Meus últimos chamados</h5>
							</div>
						</div>

						<div class="table-responsive text-nowrap">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col"><center>#</center></th>
										<th scope="col">Título</th>
										<th scope="col"><center>Status</center></th>
										<th scope="col"><center>Abertura</center></th>
										<th scope="col"><center>Atualização</center></th>
									</tr>
								</thead>
								<tbody class="table-border-bottom-0">

									@if (Model != null && Model.Any())
									{
										foreach (var chamado in Model)
										{

											<tr>
												<td>
													<center>
														<a href="#" role="button">@chamado.id</a>
													</center>
												</td>
												<td>@chamado.titulo</td>
												<td>
													<center>
														
														@if (chamado.status == 1)
														{
															<span class="badge bg-primary" style="padding:10px 12px 10px 10px;">Novo</span>
														}

														@if (chamado.status == 2)
														{
															<span class="badge bg-secondary" style="padding:10px 12px 10px 10px;">Processando (atribuído)</span>
														}

														@if (chamado.status == 3)
														{
															<span class="badge bg-secondary" style="padding:10px 12px 10px 10px;">Processando (planejado)</span>
														}

														@if (chamado.status == 4)
														{
															<span class="badge bg-warning" style="padding:10px 12px 10px 10px;">Pendente</span>
														}

														@if (chamado.status == 5)
														{
															<span class="badge bg-info" style="padding:10px 12px 10px 10px;">Solucionado</span>
														}

														@if (chamado.status == 6)
														{
															<span class="badge bg-dark" style="padding:10px 12px 10px 10px;">Fechado</span>
														}

													</center>
												</td>
												<td><center>@chamado.dataAbertura</center></td>
												<td><center>@chamado.dataAtualizacao</center></td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Footer -->
		<footer class="text-center text-lg-start bg-light text-muted">
			<!-- Copyright -->
			<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
				© @DateTime.Now.Year | <a href="https://github.com/cmdsouza/cmdsouza">Desenvolvido por Carlos Matheus</a> | Token: @TempData["token"]
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->

		<div class="content-backdrop fade"></div>
		<!-- / Layout page -->
	</div>
</div>


