@model UsuarioModel;

@{
	ViewData["Title"] = "[ADM] Gestão de Usuários";
	Layout = "_LayoutAdministrador";
}

<div class="layout-page">
	<div class="container-xxl container-p-y">

		<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
			<div class="row">
				<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)" id='menu-toggle'>
					<i class="bx bx-menu bx-sm"></i>
				</a>
			</div>
		</div>
		<form asp-controller="Usuario" asp-action="Alterar" method="post">
			<input type="hidden" asp-for="Id" />
			<div class="row">
				<div class="col-sm-12">
					<div class="card mb-4">
						<p class="card-header">Editar usuário!</p>
						<div class="card-body">
							<div class="row">
								<div class="row">
									<div class="col-sm-4">
										<div>
											<label for="Descricao" class="form-label">Matrícula</label>
											<input type="text"
												   class="form-control"
												   id="defaultFormControlInput"
												   aria-describedby="defaultFormControlHelp"
												   asp-for="Matricula">
										</div>
										@Html.ValidationMessageFor(x => x.Matricula)
									</div>
									<div class="col-sm-8">
										<div>
											<label for="Descricao" class="form-label">Nome</label>
											<input type="text"
												   class="form-control"
												   id="defaultFormControlInput"
												   aria-describedby="defaultFormControlHelp"
												   asp-for="Nome">
										</div>
										@Html.ValidationMessageFor(x => x.Nome)
									</div>
								</div>

								<div class="row" id="espaco-input">
									<div class="col-sm">
										<div>
											<label for="Autorizacao" class="form-label">Autorização</label>
											<select type="text"
													class="form-control"
													id="defaultFormControlInput"
													aria-describedby="defaultFormControlHelp"
													asp-for="Autorizacao">
												<option value="Usuario">Usuário</option>
												<option value="Administrador">Administrador</option>
											</select>
										</div>
										@Html.ValidationMessageFor(x => x.Autorizacao)
									</div>
									<div class="col-sm">
										<div>
											<label for="Email" class="form-label">E-mail</label>
											<input type="text"
												   class="form-control"
												   id="defaultFormControlInput"
												   aria-describedby="defaultFormControlHelp"
												   asp-for="Email">
										</div>
										@Html.ValidationMessageFor(x => x.Email)
									</div>
									<div class="col-sm">
										<div>
											<label for="Telefone" class="form-label">Telefone</label>
											<input type="text"
												   class="form-control"
												   id="defaultFormControlInput"
												   aria-describedby="defaultFormControlHelp"
												   asp-for="Telefone">
										</div>
										@Html.ValidationMessageFor(x => x.Telefone)
									</div>
								</div>
								<input type="hidden" asp-for="Senha" />
							</div>
						</div>
						<div class="col-sm" id="espaco-botoes">
							<button type="submit" class="btn btn-primary" style="margin-left: 2%;">Alterar</button>
							<a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>