@model List<UsuarioModel>;

@{
	ViewData["Title"] = "Lista de Usuários";
	Layout = "_LayoutAdministrador";
}

<!-- Striped Rows -->
<div class="container">
	@if (TempData["MensagemSucesso"] != null)
	{
		<div class="alert alert-success" role="alert">
			@TempData["MensagemSucesso"]
		</div>
	}

	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@TempData["MensagemErro"]
		</div>
	}

	<div class="card">
		<div class="row">
			<div class="col-sm">
				<h5 class="card-header">Lista de Usuários</h5>
			</div>
			<div class="col-sm text-end" style="margin-top: 2%; margin-right: 3%;">
				<a class="btn btn-sm btn-primary" role='button' asp-controller="Usuario" asp-action="Criar">Adicionar</a>
			</div>
		</div>
		<div class="table-responsive text-nowrap">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Matrícula</th>
					    <th scope="col">Nome</th>
					    <th scope="col">Autorização</th>
					    <th scope="col">Email</th>
						<th scope="col"><center>Última Atualização</center></th>
						<th scope="col"><center>Ações</center></th>
					</tr>
				</thead>
				<tbody class="table-border-bottom-0">
					@if (Model != null && Model.Any())
					{
						foreach(UsuarioModel usuario in Model)
						{

							<tr>
								<td>@usuario.Matricula</td>
							    <td>@usuario.Nome</td>
							    <td>@usuario.Autorizacao</td>
							    <td>@usuario.Email</td>
								<td>
									<center>
										@if (usuario.DataAtualizacao == null)
										{
											@usuario.DataCriacao
										}
										else
										{
											@usuario.DataAtualizacao
										}
									</center>
								</td>
								<td>
									<center>
										<a role="button"
								   asp-route-id="@usuario.Id"
								   asp-controller="Usuario"
								   asp-action="Editar"
								   data-bs-toggle="tooltip"
								   data-bs-offset="0,4"
								   data-bs-placement="top"
								   data-bs-html="true"
								   title="Editar">
											<i class='bx bx-edit' style="margin-top: -2%;"></i>
										</a>
										<a role="button"
								   asp-route-id="@usuario.Id"
								   asp-controller="Usuario"
								   asp-action="ApagarConfirmacao"
								   data-bs-toggle="tooltip"
								   data-bs-offset="0,4"
								   data-bs-placement="top"
								   data-bs-html="true"
								   title="Excluir">
											<i class='bx bx-trash' style="margin-top: -2%;"></i>
										</a>
									</center>
								</td>
							</tr>
						}
					}

				</tbody>
			</table>
		</div>
	</div>
</div>
<!--/ Striped Rows -->