@model List<AnexoModel>;

@{
    ViewData["Title"] = "Lista de Anexos";
}

<div class="text-center">
    <h1>Lista de Anexos</h1>
</div>

    @if(TempData["MensagemSucesso"] != null){
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if(TempData["MensagemErro"] != null){
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <div class="text-right">
        <a class="btn btn-success" role='button' asp-controller="Anexo" asp-action="Criar">Adicionar</a>
    </div>
    <br />

    <table class="table" id="myTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Arquivo</th>
          <th scope="col">Id Acompanhamento</th>
          <th scope="col">Data de Criação</th>
          <th scope="col">Data de Atualização</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @if(Model != null && Model.Any())
        {
            foreach(AnexoModel anexo in Model)
            {
                <tr>
                  <th scope="row">@anexo.Id</th>
                  <td>@anexo.Arquivo</td>
                  <td>@anexo.IdAcompanhamento</td>
                  <td>@anexo.DataCriacao</td>
                  <td>@anexo.DataAtualizacao</td>
                  <td>
                       <div class="btn-group" role="group">
                         <a role="button" class="btn btn-primary" asp-route-id="@anexo.Id" asp-controller="Anexo" asp-action="Editar">Editar</a>
                         <a role="button" class="btn btn-danger" asp-route-id="@anexo.Id" asp-controller="Anexo" asp-action="ApagarConfirmacao">Excluir</a>
                       </div>
                  </td>
                </tr>
            }
        }
        
        
      </tbody>
    </table>
