@model List<ChamadoModel>;

@{
    ViewData["Title"] = "Lista de Chamados";
}

<div class="text-center">
    <h1>Lista de Chamados</h1>
</div>

    @if(TempData["MensagemSucesso"] != null){
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if(TempData["MensagemErro"] != null){
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <div class="text-right">
        <a class="btn btn-success" role='button' asp-controller="Chamado" asp-action="Criar">Adicionar</a>
    </div>
    <br />

    <table class="table" id="myTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Observadores</th>
          <th scope="col">Titulo</th>
          <th scope="col">Status</th>
          <th scope="col">Origem</th>
          <th scope="col">Localizacao</th>
          <th scope="col">IdUsuario</th>
          <th scope="col">IdCategoria</th>
          <th scope="col">Data de Criação</th>
          <th scope="col">Data de Atualização</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @if(Model != null && Model.Any())
        {
            foreach(ChamadoModel chamado in Model)
            {
                <tr>
                  <th scope="row">@chamado.Id</th>
                  <td>@chamado.Observadores</td>
                  <td>@chamado.Titulo</td>
                  <td>@chamado.Status</td>
                  <td>@chamado.Origem</td>
                  <td>@chamado.Localizacao</td>
                  <td>@chamado.IdUsuario</td>
                  <td>@chamado.IdCategoria</td>
                  <td>@chamado.DataCriacao</td>
                  <td>@chamado.DataAtualizacao</td>
                  <td>
                       <div class="btn-group" role="group">
                         <a role="button" class="btn btn-primary" asp-route-id="@chamado.Id" asp-controller="Chamado" asp-action="Editar">Editar</a>
                         <a role="button" class="btn btn-danger" asp-route-id="@chamado.Id" asp-controller="Chamado" asp-action="ApagarConfirmacao">Excluir</a>
                       </div>
                  </td>
                </tr>
            }
        }
        
        
      </tbody>
    </table>
